
<ng-container *ngIf="false">
<div class="card-table">
    <div class="cart-product">
        <table class="table table-responsive">
<thead>
    <tr>
        <th>Sr.No</th>
        <th>product name </th>
        <th>Product image</th>
        <th>Price</th>
        <th>Quantity</th>
       <th>Total</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Realme</td>
        <td>some image</td>
        <td>12,900</td>
        <td>1</td>
        <td>12900</td>
        <td><button class="btn btn-danger">Delete</button></td>
    </tr>
</tbody>
        </table>
    </div>
</div>

</ng-container>


<ng-container *ngIf="true">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
            </div>
            <div class="center">
                <img src="../assets/cart.jpg" alt="Cart image">
            <h4>Your cart is empty</h4> 
            <h6>Add item to it now</h6>
                   </div></div>
</ng-container>
