<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller Of Electronics and Accessories</p>
            <h3><span>Best</span> Seller (Verma Electronics & Communication)</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <h6>Mobile</h6>
                        <div class="discount">-9%</div>
                        <div class="label label-green">1st card</div>
                        <div class="product-container">
                            
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/m1.jpg" alt="Product">
                            </div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/m2.jpg" alt="Product">
                            </div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/m3.jpg" alt="Product">
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <button routerLink="cart" class="btn btn-primary">Add to cart<i class="fa fa-shopping-basket"></i></button>
                                                          
                        </div>
                    </div>
                    <p><span class="money">Price INR- 10000</span> || <span class="price-old"><s>11000</s></span> </p>
                    <p><span class="Details"><details>
                        <summary>Item Detail</summary>
                        <p>Processor: Intel Celeron N4020, 1.1 GHz base speed, Up to 2.8 GHz Turbo Speed, 2 cores, 2 Threads, 4MB Cache<br><br>
                            Memory & Storage: 4GB SO-DIMM DDR4 2400MHz RAM, Support up to 8GB using 1x SO-DIMM Slot with |<BR>Storage: 256GB M.2 NVMe PCIe SSD<br><br>Display: 15.6-inch (39.62 cms), LED-Backlit LCD, HD (1366 x 768) 16:9, 220nits, NanoEdge bezel, Anti-Glare Plane with 45% NTSC, 82% Screen-To-Body Ratio</p>
                      </details>
    </span> </p>
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main"><h6>Laptop</h6>
                        <div class="discount">-15%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange1($event)"><img src="../assets/L1.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange1($event)"><img src="../assets/L2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange1($event)"><img src="../assets/L3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url1}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <button routerLink="cart" class="btn btn-primary">Add to cart<i class="fa fa-shopping-basket"></i></button>
                                                    
                    </div>
                </div>
                <p><span class="money">Price INR- 55000</span> || <span class="price-old"><s>65000</s></span> </p>
                <p><span class="Details"><details>
                    <summary>Item Detail</summary>
                    <p>Processor: Intel Celeron N4020, 1.1 GHz base speed, Up to 2.8 GHz Turbo Speed, 2 cores, 2 Threads, 4MB Cache
                        Memory & Storage: 4GB SO-DIMM DDR4 2400MHz RAM, Support up to 8GB using 1x SO-DIMM Slot with |<BR>Storage: 256GB M.2 NVMe PCIe SSD
                        Display: 15.6-inch (39.62 cms), LED-Backlit LCD, HD (1366 x 768) 16:9, 220nits, NanoEdge bezel, Anti-Glare Plane with 45% NTSC, 82% Screen-To-Body Ratio</p>
                  </details></span> </p>
            </div>
            
        </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main"><h6>Headphones</h6>
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange2($event)"><img src="../assets/H4.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange2($event)"><img src="../assets/H2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange2($event)"><img src="../assets/H3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url2}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <button routerLink="cart" class="btn btn-primary">Add to cart<i class="fa fa-shopping-basket"></i></button>
                               
                            
                        </div>
                    </div>
                    <p><span class="money">Price INR- 9000</span> || <span class="price-old"><s>10000</s></span> </p>
                    <p><span class="Details"><details>
                        <summary>Item Detail</summary>
                        <p>About this item
                            JBL PURE BASE SOUND: Packed with 32mm Dynamic drivers, the JBL Tune 510BT features the renowned JBL Pure Bass sound, which can be found in the most famous venues all around the world.<br><br>
                            UPTO 40 HOURS PLAYTIME: Designed for long playhours, the Tune 510BT allows you to Listen wirelessly upto 40 hours non-stop under optimal audio settings.<br><br>
                            QUICK CHARGING: With its superior USB Type-C charging cable, a quick 5 min recharge of your Tune 510BT provides you with playtime upto 2 Hours while in a span of 2 hours, get your headphones completely charged up.</p>
                      </details></span> </p>
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main"><h6>Camera</h6>
                        <div class="discount">-13%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange3($event)"><img src="../assets/C4.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange3($event)"><img src="../assets/C2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="imageChange3($event)"><img src="../assets/C3.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url3}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                           <button routerLink="cart" class="btn btn-primary">Add to cart<i class="fa fa-shopping-basket"></i></button>
                           
                        
                    </div>
                </div>
                <p><span class="money">Price INR- 50000</span> || <span class="price-old"><s>58000</s></span> </p>
                <p><span class="Details"><details>
                    <summary>Item Detail</summary>
                    <p>PROFESSIONAL PHOTO AND VIDEO PERFORMANCE: 16 megapixel Micro Four Thirds sensor with no low pass filter to confidently capture sharp images with a high dynamic range and artifact free performance; WiFi enabled
                       <BR> 4K VIDEO CAPTURE:
                         4K QHD video recording (3840 x 2160) with three 4K Ultra HD capture at 25p and Full HD ( 1920 * 1080 ) at 50p
                        <BR>4K PHOTO MODE : 8MP PHOTO BURST MODE at 30 fps, extracts individual high resolution images from 4K Ultra HD video filmed at 30 frames per second to capture split second moments</p>
                  </details></span> </p>
            </div>
            
        </div>
        </div>
    </div>

</section>